body {
    background: url('/background.webp');
    background-size: contain;
}

* {
    font-family: "Segoe UI", sans-serif;
}

pre {
    margin: 0;
}

.hidden-scrollbar::-webkit-scrollbar {
    display: none;
}