.sidebar {
    display: flex;
    gap: 10px;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;

    @media screen and (max-width: 1365px) {
        flex-direction: row;
        width: fit-content;
        align-self: flex-end;
        justify-content: space-around;
    }
}

.dropdown {
    border-radius: 6px;
}

.input {
    height: 54px;
    border-radius: 6px;
}