* {
    color: #202020;
}

.cell {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.schedule {
    & td, & th {
        padding: 8px;
        border-bottom: 2px solid var(--mantine-color-gray-2);
    }

    & th {
        padding-bottom: 0;
        padding-top: 0;
    }

    & tr:last-child {
        & td, & th {
            border: none;
        }

        & td {
            padding-bottom: 0;
        }
    }
}

.day {
    padding: 8px;
    background-color: var(--mantine-color-white);

    &:hover {
        background-color: var(--mantine-color-gray-1);
    }
}

.day-selected {
    padding: 8px;
    background-color: var(--mantine-color-blue-2);

    &:hover {
        background-color: var(--mantine-color-blue-3);
    }
}

.schedule__wrapper {
    padding: 10px 5px;
    @media screen and (min-width: 1081px) {
        padding: 10px 20px 20px;
    }
    @media screen and (min-width: 350px){
        padding: 10px;
    }
}

.schedule-day {
    & > div > div {
        padding: 8px 6px;
        border-bottom: 2px solid var(--mantine-color-gray-2);
    }

    & > div:last-child > div {
        padding-right: 0;
    }

    & > div:first-child > div {
        padding-left: 0;
    }

    & > div > div:first-child {
        padding-top: 0;
    }

    & > div > div:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
}