.mantine-Select-dropdown {
    border-radius: 6px;
    @media screen and (max-width: 1365px) {
        box-shadow: 0 0 2px 2px #fdfdfd;
    }
}

.mantine-Select-input, .mantine-Button-root {
    height: 45px;
}

.sidebar {
    display: flex;
    gap: calc(0.625rem * var(--mantine-scale));
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    @media screen and (max-width: 1365px) {
        flex-direction: row;
        width: fit-content;
        align-self: flex-end;
    }
}