.wrapper {
    padding: 20px;
    margin: 0 auto;
    width: fit-content;
}

.main {
    padding: 10px 15px 10px;
    width: 580px;
}

.class__item {
    padding: 5px 8px;
    border-radius: 4px;

    &:hover {
        background-color: var(--mantine-color-gray-light-hover);
        cursor: pointer;
    }
}

.text_input__input {
    height: 30px;
}